# Archivos de Visual Studio
.vs/
.vs2019/
.vs2017/
# Archivos de compilación
bin/
obj/
# Archivos de configuración del sistema
Thumbs.db
.DS_Store
# Archivos de dependencias de paquetes (si los usas)
packages/